# Crime Capstone Project

## Phase 01

#### Project prepared by VISHAL

In [1]:
#importing library
import pandas as pd

### The population of each state.

In [3]:
population_data=pd.read_csv(r'C:\Users\vishal dhenwal\OneDrive\Desktop\popolation data 03.csv') #data collected manually from wikipedia and saved in excel

In [5]:
population_data

,S.No.,State or union territory,Population (2001 Census),Population (2011 Census)
0,1,Andaman and Nicobar Islands,"3,56,650","3,79,944"
1,2,Andhra Pradesh,"7,57,28,400","4,93,86,799"
2,3,Arunachal Pradesh,"10,98,328","13,82,611"
3,4,Assam,"2,66,38,600","3,11,69,272"
4,5,Bihar,"8,28,79,910","10,38,04,630"
5,6,Chandigarh,"9,01,080","10,54,686"
6,7,Chhattisgarh,"2,08,34,530","2,55,40,196"
7,8,Dadra and Nagar Haveli,"2,20,963","3,42,853"
8,9,Daman and Diu,"1,58,080","2,42,911"
9,10,Delhi,"1,38,51,503","1,67,53,235"
10,11,Goa,"13,48,900","14,57,723"
11,12,Gujarat,"5,05,97,200","6,03,83,628"
12,13,Haryana,"2,10,83,900","2,57,53,081"
13,14,Himachal Pradesh,"60,77,453","68,56,509"
14,15,Jammu and Kashmir,"1,00,70,300","1,25,48,926"
15,16,Jharkhand,"2,69,46,070","3,29,88,134"
16,17,Karnataka,"5,27,34,986","6,11,30,704"
17,18,Kerala,"3,18,39,000","3,33,87,677"
18,19,Lakshadweep,"61,300","64,429"
19,20,Madhya Pradesh,"6,03,85,090","7,25,97,565"
20,21,Maharashtra,"9,67,52,500","11,23,72,972"
21,22,Manipur,"22,94,480","27,21,756"
22,23,Meghalaya,"23,06,540","29,64,007"
23,24,Mizoram,"8,89,690","10,91,014"
24,25,Nagaland,"19,90,275","19,80,602"
25,26,Odisha,"3,67,07,900","4,19,47,358"
26,27,Puducherry,"9,74,820","12,44,464"
27,28,Punjab,"2,42,89,130","2,77,04,236"
28,29,Rajasthan,"5,64,73,300","6,86,21,012"
29,30,Sikkim,"5,41,902","6,07,688"
30,31,Tamil Nadu,"6,21,11,390","7,21,38,958"
31,32,Telangana,NaN,"3,51,93,978"
32,33,Tripura,"31,91,880","36,71,032"
33,34,Uttar Pradesh,"16,60,53,600","19,95,81,477"
34,35,Uttarakhand,"84,89,100","1,01,16,752"
35,36,West Bengal,"8,02,21,300","9,13,47,736"

In [6]:
population_data.to_csv('population of India 2001 and 2011.csv') #saving data in file

### Literacy Rate in each state

In [8]:
literacy_rate=pd.read_csv(r'C:\Users\vishal dhenwal\OneDrive\Desktop\Litracy rate data 01.csv') #data collected manually from wikipedia and saved in excel

In [9]:
literacy_rate

    S.No.     State or union territory  Literacy Rate 2001  Literacy Rate 2011
0       1  Andaman and Nicobar Islands               81.30               86.63
1       2               Andhra Pradesh               60.47               67.02
2       3            Arunachal Pradesh               54.34               65.39
3       4                        Assam               63.25               72.19
4       5                        Bihar               47.00               61.80
5       6                   Chandigarh               81.94               86.05
6       7                 Chhattisgarh               64.66               70.28
7       8       Dadra and Nagar Haveli               57.63               76.24
8       9                Daman and Diu               78.18               87.10
9      10                        Delhi               81.67               86.21
10     11                          Goa               82.01               88.70
11     12                      Gujarat               69.14               78.03
12     13                      Haryana               67.91               75.55
13     14             Himachal Pradesh               76.48               82.80
14     15            Jammu and Kashmir               55.52               67.16
15     16                    Jharkhand               53.56               66.41
16     17                    Karnataka               66.60               75.37
17     18                       Kerala               90.86               94.00
18     19                  Lakshadweep               86.66               91.85
19     20               Madhya Pradesh               63.74               69.32
20     21                  Maharashtra               76.88               82.34
21     22                      Manipur               70.50               76.90
22     23                    Meghalaya               62.56               74.43
23     24                      Mizoram               88.80               91.33
24     25                     Nagaland               66.59               79.60
25     26                       Odisha               63.08               72.89
26     27                   Puducherry               81.24               85.85
27     28                       Punjab               69.65               75.84
28     29                    Rajasthan               60.41               66.11
29     30                       Sikkim               68.81               81.42
30     31                   Tamil Nadu               73.45               80.09
31     32                      Tripura               73.19               87.22
32     33                Uttar Pradesh               56.27               67.68
33     34                  Uttarakhand               71.62               78.82
34     35                  West Bengal               68.64               76.26

In [10]:
literacy_rate.to_csv('literacy rate of india 2001 and 2011.csv') #saving data in file

### Area of each state

In [11]:
area=pd.read_csv(r'C:\Users\vishal dhenwal\OneDrive\Desktop\Area data 01.csv') #data collected manually from wikipedia and saved in excel

In [12]:
area

    S.No.                     State/UT Area (in sq.km.)
0     1.0  Andaman and Nicobar Islands             8249
1     2.0               Andhra Pradesh         2,75,069
2     3.0            Arunachal Pradesh            83743
3     4.0                        Assam            78438
4     5.0                        Bihar            94163
5     6.0                   Chandigarh              114
6     7.0                 Chhattisgarh         1,36,034
7     8.0       Dadra and Nagar Haveli              491
8     9.0                Daman and Diu              112
9    10.0                        Delhi             1483
10   11.0                          Goa             3702
11   12.0                      Gujarat         1,96,024
12   13.0                      Haryana            44212
13   14.0             Himachal Pradesh            55673
14   15.0            Jammu and Kashmir           222236
15   16.0                    Jharkhand            74677
16   17.0                    Karnataka           191976
17   18.0                       Kerala            38863
18   19.0                  Lakshadweep               32
19   20.0               Madhya Pradesh         3,08,000
20   21.0                  Maharashtra         3,07,713
21   22.0                      Manipur            22327
22   23.0                    Meghalaya            22720
23   24.0                      Mizoram            21081
24   25.0                     Nagaland            16579
25   26.0                       Orissa           155820
26   27.0                   Puducherry              479
27   28.0                       Punjab            50362
28   29.0                    Rajasthan         3,42,239
29   30.0                       Sikkim             7096
30   31.0                   Tamil Nadu         1,30,058
31   32.0                      Tripura         10491.69
32   33.0                Uttar Pradesh         2,40,928
33   34.0                  Uttaranchal            53484
34   35.0                  West Bengal            88752
35    NaN                          NaN              NaN
36    NaN                          NaN              NaN

In [13]:
area.to_csv('State wise area in sq km.csv') #saving data in file

### Creating a new file and keep the above-collected data.

In [16]:
#adding data of literacy rate and population
mereged_data=population_data.join(literacy_rate[["Literacy Rate 2001","Literacy Rate 2011"]])

In [17]:
mereged_data

,S.No.,State or union territory,Population (2001 Census),Population (2011 Census),Literacy Rate 2001,Literacy Rate 2011
0,1,Andaman and Nicobar Islands,"3,56,650","3,79,944",81.30,86.63
1,2,Andhra Pradesh,"7,57,28,400","4,93,86,799",60.47,67.02
2,3,Arunachal Pradesh,"10,98,328","13,82,611",54.34,65.39
3,4,Assam,"2,66,38,600","3,11,69,272",63.25,72.19
4,5,Bihar,"8,28,79,910","10,38,04,630",47.00,61.80
5,6,Chandigarh,"9,01,080","10,54,686",81.94,86.05
6,7,Chhattisgarh,"2,08,34,530","2,55,40,196",64.66,70.28
7,8,Dadra and Nagar Haveli,"2,20,963","3,42,853",57.63,76.24
8,9,Daman and Diu,"1,58,080","2,42,911",78.18,87.10
9,10,Delhi,"1,38,51,503","1,67,53,235",81.67,86.21
10,11,Goa,"13,48,900","14,57,723",82.01,88.70
11,12,Gujarat,"5,05,97,200","6,03,83,628",69.14,78.03
12,13,Haryana,"2,10,83,900","2,57,53,081",67.91,75.55
13,14,Himachal Pradesh,"60,77,453","68,56,509",76.48,82.80
14,15,Jammu and Kashmir,"1,00,70,300","1,25,48,926",55.52,67.16
15,16,Jharkhand,"2,69,46,070","3,29,88,134",53.56,66.41
16,17,Karnataka,"5,27,34,986","6,11,30,704",66.60,75.37
17,18,Kerala,"3,18,39,000","3,33,87,677",90.86,94.00
18,19,Lakshadweep,"61,300","64,429",86.66,91.85
19,20,Madhya Pradesh,"6,03,85,090","7,25,97,565",63.74,69.32
20,21,Maharashtra,"9,67,52,500","11,23,72,972",76.88,82.34
21,22,Manipur,"22,94,480","27,21,756",70.50,76.90
22,23,Meghalaya,"23,06,540","29,64,007",62.56,74.43
23,24,Mizoram,"8,89,690","10,91,014",88.80,91.33
24,25,Nagaland,"19,90,275","19,80,602",66.59,79.60
25,26,Odisha,"3,67,07,900","4,19,47,358",63.08,72.89
26,27,Puducherry,"9,74,820","12,44,464",81.24,85.85
27,28,Punjab,"2,42,89,130","2,77,04,236",69.65,75.84
28,29,Rajasthan,"5,64,73,300","6,86,21,012",60.41,66.11
29,30,Sikkim,"5,41,902","6,07,688",68.81,81.42
30,31,Tamil Nadu,"6,21,11,390","7,21,38,958",73.45,80.09
31,32,Telangana,NaN,"3,51,93,978",73.19,87.22
32,33,Tripura,"31,91,880","36,71,032",56.27,67.68
33,34,Uttar Pradesh,"16,60,53,600","19,95,81,477",71.62,78.82
34,35,Uttarakhand,"84,89,100","1,01,16,752",68.64,76.26
35,36,West Bengal,"8,02,21,300","9,13,47,736",NaN,NaN

In [19]:
#adding data of area
mereged_data01=mereged_data.join(area["Area (in sq.km.)"])

In [20]:
mereged_data01

,S.No.,State or union territory,Population (2001 Census),Population (2011 Census),Literacy Rate 2001,Literacy Rate 2011,Area (in sq.km.)
0,1,Andaman and Nicobar Islands,"3,56,650","3,79,944",81.30,86.63,8249
1,2,Andhra Pradesh,"7,57,28,400","4,93,86,799",60.47,67.02,"2,75,069"
2,3,Arunachal Pradesh,"10,98,328","13,82,611",54.34,65.39,83743
3,4,Assam,"2,66,38,600","3,11,69,272",63.25,72.19,78438
4,5,Bihar,"8,28,79,910","10,38,04,630",47.00,61.80,94163
5,6,Chandigarh,"9,01,080","10,54,686",81.94,86.05,114
6,7,Chhattisgarh,"2,08,34,530","2,55,40,196",64.66,70.28,"1,36,034"
7,8,Dadra and Nagar Haveli,"2,20,963","3,42,853",57.63,76.24,491
8,9,Daman and Diu,"1,58,080","2,42,911",78.18,87.10,112
9,10,Delhi,"1,38,51,503","1,67,53,235",81.67,86.21,1483
10,11,Goa,"13,48,900","14,57,723",82.01,88.70,3702
11,12,Gujarat,"5,05,97,200","6,03,83,628",69.14,78.03,"1,96,024"
12,13,Haryana,"2,10,83,900","2,57,53,081",67.91,75.55,44212
13,14,Himachal Pradesh,"60,77,453","68,56,509",76.48,82.80,55673
14,15,Jammu and Kashmir,"1,00,70,300","1,25,48,926",55.52,67.16,222236
15,16,Jharkhand,"2,69,46,070","3,29,88,134",53.56,66.41,74677
16,17,Karnataka,"5,27,34,986","6,11,30,704",66.60,75.37,191976
17,18,Kerala,"3,18,39,000","3,33,87,677",90.86,94.00,38863
18,19,Lakshadweep,"61,300","64,429",86.66,91.85,32
19,20,Madhya Pradesh,"6,03,85,090","7,25,97,565",63.74,69.32,"3,08,000"
20,21,Maharashtra,"9,67,52,500","11,23,72,972",76.88,82.34,"3,07,713"
21,22,Manipur,"22,94,480","27,21,756",70.50,76.90,22327
22,23,Meghalaya,"23,06,540","29,64,007",62.56,74.43,22720
23,24,Mizoram,"8,89,690","10,91,014",88.80,91.33,21081
24,25,Nagaland,"19,90,275","19,80,602",66.59,79.60,16579
25,26,Odisha,"3,67,07,900","4,19,47,358",63.08,72.89,155820
26,27,Puducherry,"9,74,820","12,44,464",81.24,85.85,479
27,28,Punjab,"2,42,89,130","2,77,04,236",69.65,75.84,50362
28,29,Rajasthan,"5,64,73,300","6,86,21,012",60.41,66.11,"3,42,239"
29,30,Sikkim,"5,41,902","6,07,688",68.81,81.42,7096
30,31,Tamil Nadu,"6,21,11,390","7,21,38,958",73.45,80.09,"1,30,058"
31,32,Telangana,NaN,"3,51,93,978",73.19,87.22,10491.69
32,33,Tripura,"31,91,880","36,71,032",56.27,67.68,"2,40,928"
33,34,Uttar Pradesh,"16,60,53,600","19,95,81,477",71.62,78.82,53484
34,35,Uttarakhand,"84,89,100","1,01,16,752",68.64,76.26,88752
35,36,West Bengal,"8,02,21,300","9,13,47,736",NaN,NaN,NaN

In [21]:
#deleting column of s.no. 
final_data=mereged_data01.drop(mereged_data01.columns[0], axis=1)

In [22]:
final_data

,State or union territory,Population (2001 Census),Population (2011 Census),Literacy Rate 2001,Literacy Rate 2011,Area (in sq.km.)
0,Andaman and Nicobar Islands,"3,56,650","3,79,944",81.30,86.63,8249
1,Andhra Pradesh,"7,57,28,400","4,93,86,799",60.47,67.02,"2,75,069"
2,Arunachal Pradesh,"10,98,328","13,82,611",54.34,65.39,83743
3,Assam,"2,66,38,600","3,11,69,272",63.25,72.19,78438
4,Bihar,"8,28,79,910","10,38,04,630",47.00,61.80,94163
5,Chandigarh,"9,01,080","10,54,686",81.94,86.05,114
6,Chhattisgarh,"2,08,34,530","2,55,40,196",64.66,70.28,"1,36,034"
7,Dadra and Nagar Haveli,"2,20,963","3,42,853",57.63,76.24,491
8,Daman and Diu,"1,58,080","2,42,911",78.18,87.10,112
9,Delhi,"1,38,51,503","1,67,53,235",81.67,86.21,1483
10,Goa,"13,48,900","14,57,723",82.01,88.70,3702
11,Gujarat,"5,05,97,200","6,03,83,628",69.14,78.03,"1,96,024"
12,Haryana,"2,10,83,900","2,57,53,081",67.91,75.55,44212
13,Himachal Pradesh,"60,77,453","68,56,509",76.48,82.80,55673
14,Jammu and Kashmir,"1,00,70,300","1,25,48,926",55.52,67.16,222236
15,Jharkhand,"2,69,46,070","3,29,88,134",53.56,66.41,74677
16,Karnataka,"5,27,34,986","6,11,30,704",66.60,75.37,191976
17,Kerala,"3,18,39,000","3,33,87,677",90.86,94.00,38863
18,Lakshadweep,"61,300","64,429",86.66,91.85,32
19,Madhya Pradesh,"6,03,85,090","7,25,97,565",63.74,69.32,"3,08,000"
20,Maharashtra,"9,67,52,500","11,23,72,972",76.88,82.34,"3,07,713"
21,Manipur,"22,94,480","27,21,756",70.50,76.90,22327
22,Meghalaya,"23,06,540","29,64,007",62.56,74.43,22720
23,Mizoram,"8,89,690","10,91,014",88.80,91.33,21081
24,Nagaland,"19,90,275","19,80,602",66.59,79.60,16579
25,Odisha,"3,67,07,900","4,19,47,358",63.08,72.89,155820
26,Puducherry,"9,74,820","12,44,464",81.24,85.85,479
27,Punjab,"2,42,89,130","2,77,04,236",69.65,75.84,50362
28,Rajasthan,"5,64,73,300","6,86,21,012",60.41,66.11,"3,42,239"
29,Sikkim,"5,41,902","6,07,688",68.81,81.42,7096
30,Tamil Nadu,"6,21,11,390","7,21,38,958",73.45,80.09,"1,30,058"
31,Telangana,NaN,"3,51,93,978",73.19,87.22,10491.69
32,Tripura,"31,91,880","36,71,032",56.27,67.68,"2,40,928"
33,Uttar Pradesh,"16,60,53,600","19,95,81,477",71.62,78.82,53484
34,Uttarakhand,"84,89,100","1,01,16,752",68.64,76.26,88752
35,West Bengal,"8,02,21,300","9,13,47,736",NaN,NaN,NaN

In [23]:
#final data is ready 
final_data.to_csv('prepared data.csv')